@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Nanum+Gothic:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  scrollbar-width: thin;
  font-family: "Dela Gothic One", cursive;
}
.kana,
.current-kana {
  font-family: "Nanum Gothic", sans-serif;
}
html {
}
.green-background {
  background-color: #3dae6b;
}
.blue-background {
  background-color: #3a7c98;
}
.orange-background {
  background-color: #f2a855;
}
.red-background {
  background-color: #f27355;
}
